
img,svg {
    cursor: pointer
}

input[type=checkbox] {
    cursor: pointer
}

.text-field {
    position: relative;
    display: inline-block
}

.text-field .floating-text {
    left: 20px;
    top: 2px;
    position: absolute;
    background-color: #fff;
    transition: all .5s cubic-bezier(.215,.61,.355,1);
    font-size: 16px;
    font-weight: 400;
    color: #0000008a;
    padding: 0 2px
}

.text-field input,.text-field select,.text-field select:focus,.text-field textarea,.text-field textarea:focus input:focus {
    padding: 8px;
    border: 1px solid rgb(44,27,27);
    outline: 1px solid rgb(44,27,27);
    border: unset;
    border-radius: 6px;
    color: #344767!important;
    transition: all .5s cubic-bezier(.215,.61,.355,1)
}

.text-field input,.text-field select,.text-field textarea {
    margin: 10px
}

.text-field select {
    width: 180px
}

.hover .floating-text {
    top: 15px
}

.card {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    box-shadow: #0000001a 0 0 5px,#0000001a 0 0 1px;
    border-radius: 6px;
    box-sizing: border-box
}

.card .card-header {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px
}

.card .card-body,.card .card-footer {
    margin: 10px;
    padding: 10px
}
.card>.card-body {
    display: flex;
    height: 100%;
    gap: 5px;
    flex-wrap: wrap
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center
}

table th {
    border: unset;
    padding: 10px;
    text-align: left;
    position: relative
}

table tbody>tr:hover {
    background-color: #1976d214
}

table tr {
    border: 1px solid lightgray;
    border-collapse: collapse
}

table td {
    text-align: left;
    padding: 10px
}

th>div>li {
    list-style-type: none;
    position: absolute;
    border-left: 2px solid lightgray;
    top: 35%;
    right: 0;
    height: 40%;
    margin-top: auto;
    margin-bottom: auto
}

th>div>.filter {
    visibility: hidden;
    cursor: pointer
}

th:hover>div>.filter {
    visibility: visible
}

input[type=checkbox] {
    width: 20px;
    height: 18px
}

input[type=checkbox]:checked {
    box-shadow: #32325d40 0 50px 100px -20px,#0000004d 0 30px 60px -30px
}

.selected-data-count {
    padding: 15px 0
}

.th-w-img {
    display: flex;
    align-items: center;
    gap: 10px
}

.th-w-img img {
    width: 16px;
    margin-top: 4px
}